img.about__img{
    border-radius: 10px;
    margin-top: 5%;
    width: 170%;
    padding-right: 50%;
}
.col__2{
    margin-right: 2.2%;
}
h1.about__heading{
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-size: 60px;
    font-family: montserrat , sans-serif ;
}
button.about.btn.pointer{
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: .4s ease;
}
.about__button{
    padding: 20px 0px;
}
a.bottom__to__top{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    background-color: #f9004d;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: .4s all ease ;
}
a.bottom__to__top.active{
    display: flex;
}
@media only screen and (max-width: 1024px){
    .p__color{
        font-size: 15px!important;
    }
}
@media screen and (max-width: 426px){
    button.about.btn.pointer {
        text-transform: capitalize;
        width: 165px !important;
        height: 50px;
        font-size: 13px;
        transition: .4s ease;
    }
    } 
