@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1.heading{
    font-size: 60px;
    text-align: center;
    font-family: Poppins , sans-serif ;
    font-weight: 700;
    margin-bottom: 10px;
}
#fake{
    width: 220px;
}
p.heading.p__color{
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
}
.services__box{
    border-radius: 10px;
    width: 100%;
    background-color: #191919;
    padding: 55px;
    transition: .4s ease;
}
.services__box:hover{
    transform: translateY(5px);
    background-image: linear-gradient(90deg , #f61b10 , #ef0963);
}
.services__box:hover .icon{
    color: #fff;
}
.services__box:hover p.services__text.p__color{
    color: #fff !important;
}
.icon{
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-flex;
    color: #f9004d;
}
p.services__text.p__color{
    margin-bottom: 0;
    font-family: 'Bebas Neue', cursive;
}
h1.services__text{
    font-size: 19px;
    font-family: Poppins , sans-serif ;
    padding: 10px 0px;
}
@media only screen and (max-width: 1024px){
    .services__box {
        padding: 32px;
    }
    }